.imgcontainer {
    width: 400px;
    margin: 0 auto;
}

.image {
    width: 400px;
    height: auto;
}

.center {
    text-align: center;
}

.ul-align {
    display: inline-block;
    text-align: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 223, 223);
    margin: 0px 60px 0px;
}

.spacing {
    padding-top: 80px;
    padding-bottom: 80px;
}

.small-spacing {
    padding-top: 30px;
    padding-bottom: 30px;
}

h2, h4 {
    text-align: center;
}

.button {
    font-size: 22px;
    background-color: #fffc3f;
}

.fancyfont {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1.fancyfont {
    font-size: 40px;
}